/* About.css */

.aboutContainer {
  text-align: center;
  padding: 20px;
  margin: auto;
  max-width: 800px; /* Adjust the width as needed */
  color: white; /* Text color similar to your homepage */
  background-color: #1b1b1b; /* Background color similar to your homepage */
  border-radius: 10px; /* Optional: for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
  margin-left: 650px;
}

.aboutContainer h1 {
  margin-bottom: 20px;
  font-size: 2em; /* Adjust font size as needed */
}

.aboutContainer p {
  margin-bottom: 15px;
  line-height: 1.6;
}
